.nav-bar {
  background-color: #4fc5d0;
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 100px 0px 100px;
  min-width: 800px;
}

.home-link {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: 'Courgette', cursive;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.messages-link {
  text-decoration: none;
  color: white;
  padding-right: 15px
}

.header-user-img {
  background-color: #4fc5d0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 15px;
  img {
    width: 100%;
    position: relative;
    margin-top: 3px;
  }
}
