.matches-index {
  h1 {
    font-family: 'Courgette', cursive;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pet-index {
  text-align: center;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.pets-list {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}

.pets-list li {
  width: 27%;
  margin: 3%;
  float: left;
}

.pet-img-wrapper {
  height: 230px;
  overflow: hidden;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  .pet-img {
    height: 100%;
  }
}


.match-wrapper {
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  width: 280px;
  height: 350px;
  a {
    text-decoration: none;
    color: #000000;
  }
}

.match-wrapper:hover {
  border: 1px black;
  border-style: dotted;
}

.match-wrapper h3 {
  margin: 5px;
}

.match-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

img:hover {

}
