.matches-index {
  h1 {
    font-family: 'Courgette', cursive;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pet-index {
  text-align: center;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.pets-list {
  list-style: none;
  // display: grid;
  // grid-template-columns: 33% 33% 33%;
  width: 100%;
  padding-left: 0px;
}

.pets-list li {
  // margin: 40px;
  width: 27%;
  margin: 3%;
  float: left;
}

.pet-img {
  position: relative;
  width: 100%;
  height: 220px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.match-wrapper {
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  width: 280px;
  height: 350px
}

.match-wrapper h3 {
  margin: 5px;
}

.match-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
