body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

.logo {
  font-family: 'Courgette', cursive;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.splash-nav-bar {
  background-color: #4fc5d0;
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0px 100px;
}

.homepage {
  background-color: #4fc5d0;
  color: white;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}

.homepage-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-text-heading {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 62px;
  font-family: 'GT America',sans-serif;
}

.top-text-p {
  font-size: 23px;
  line-height: 31px;
  width: 490px;
  font-family: 'GT America',sans-serif;
  font-weight: normal;
}
