/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}*/

/*"SPLASHPAGE"/HOMEPAGE*/

/*.nav {
  width: 100%;
  background-color: #4fc5d0;
}

.nav-bar {
  background-color: #4fc5d0;
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0px 100px;
}*/

/*USER LOGIN*/
/*
.login-button {
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  padding: 0 15px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  background-color: #4fc5d0;
}

.demo-button {
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  padding: 0 15px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  background-color: #4fc5d0;
}

.login-form-wrapper {
  text-align: center;
  line-height: 15px;
  width: 214px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 48px 40px;
  background-color: #FFFFFF;
  border-radius: 3px;
}

.login-form {
  color: black;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.login-form input {
  height: 25px;
  border-radius: 3px;
}

.login-form-button {
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  padding: 0 15px;
  border: 1px solid #3260c7;
  border-radius: 3px;
  color: #ffffff;
  background-color: #3260c7;
}*/

/*SPLASHPAGE MAIN TEXT*/
/*
.homepage {
  background-color: #4fc5d0;
  color: white;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}

.homepage-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-text-heading {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 62px;
  font-family: 'GT America',sans-serif;
}

.top-text-p {
  font-size: 23px;
  line-height: 31px;
  width: 490px;
  font-family: 'GT America',sans-serif;
  font-weight: normal;
}*/

/*SIGN-UP FORM*/
/*
.signup-form {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.signup-form input {
  height: 25px;
  border-radius: 3px;
}

.signup-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup-form-wrapper {
  width: 214px;
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #3260c7;
}

.sign-up-button {
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  padding: 0 15px;
  border: 1px solid #3260c7;
  border-radius: 3px;
  color: #ffffff;
  background-color: #3260c7;
}

.auth-errors {
  font-size: 14px;
  line-height: 15px;
  color: red;
}

.auth-errors ul {
  list-style: none;
  padding: 0px;
}*/

/* MATCHES PAGE (PET INDEX)*/

/*.filter-sort-wrapper {
  display: flex;
  justify-content: center;
}*/

/*ALL MATCHES*/

/*.pet-index {
  text-align: center;
  min-width: 900px;
  display: flex;
  justify-content: center;
}

.pets-list {
  list-style: none;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 0px;

}

.pets-list li {
  margin: 40px;
}

.pet-img {
  position: relative;
  height: 220px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}*/

/*INDIVIDUAL MATCHES ON MATCH INDEX*/
/*
.match-wrapper {
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  width: 220px;
  height: 325px
}

.match-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.match-wrapper h3 {
  margin: 5px;
}*/
